body{
    background-size: cover;
}
.heading{
    font-size: 24px;
    width: 100%;
    margin:0px;
}
.note{
    font-size: 15px;
    color: black;
}
.div_speed{
    float: left;
}
.div_speed_img{
    border-radius: 100px;
    width: 200px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
.div_volume{
    float: right;
}
.div_volume_img{
    border-radius: 100px;
    width: 200px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}
.play_button{
    font-size: 33px;
    width:150px ;
}
canvas{
    border:5px solid black;
    border-radius: 10px;
    color: white;
    margin-top: 250px;
}